{% extends "xk_base.html" %}

{% block head %}
    <style>
        .file-list {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px;
            border: 1px solid #ddd;
        }

        .file-list li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            background-color: #f9f9f9;
            cursor: pointer;
        }

        .file-list li:hover {
            background-color: #efefef;
        }

        .file-list li:last-child {
            border-bottom: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div>
        <h1>
            首页
        </h1>
        <div>
            <button id="buttonCreateFile" type="button">新建文件</button>
            <button id="buttonImportFile" type="button">导入文件</button>

            <div id="dialogCreateFile" style="display: none;">
                <form id="createFileFieldForm" method="post">
                    <label for="fileNameField">文件名称:</label>
                    <input type="text" id="fileNameField"/>
                    <button type="submit">创建</button>
                </form>
            </div>

            <div id="dialogImportFile" style="display: none;">
                <form method="post" action="{{ url_for('XKnowledge.XKHomePageView') }}" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <input type="submit" value="导入文件"/>
                </form>
            </div>
        </div>
        <div>
            <h2>
                请选择一个文件打开：
            </h2>
            <div>
                {% for file in files %}
                    <button onclick="onListItemClick('{{ file }}')">{{ file }}</button>
                {% endfor %}
                {#            <ul class="file-list">#}
                {#                {% for file in files %}#}
                {#                    <li onclick="onListItemClick('{{ file }}')">{{ file }}</li>#}
                {#                {% endfor %}#}
                {#            </ul>#}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function sendData(formData) {
            // 发送数据到后端
            fetch("{{ url_for("XKnowledge.XKHomePageView") }}", {
                method: "POST",
                body: formData // 将FormData对象作为请求体发送
            });
        }

        function onListItemClick(file_name) {
            const formData = new FormData();
            formData.append("openFile", 1);
            formData.append("fileName", JSON.stringify(file_name));
            sendData(formData)
            // 跳转到指定的 URL 地址
            location.assign("{{ url_for('XKnowledge.XKMainView') }}");
        }

        const dialogCreateFile = document.getElementById("dialogCreateFile");
        const dialogImportFile = document.getElementById("dialogImportFile");

        document.getElementById("buttonCreateFile").addEventListener("click", function (event) {
            if (dialogCreateFile.style.display === "none") {
                dialogImportFile.style.display = "none";
                dialogCreateFile.style.display = "block";
            } else {
                dialogCreateFile.style.display = "none";
            }
        });

        document.getElementById("createFileFieldForm").addEventListener("submit", function (event) {
            // 获取表单内的所有控件
            // event.preventDefault()
            dialogCreateFile.style.display = "none"; // 当表单提交时，关闭弹窗

            const formData = new FormData();
            formData.append("createFile", 1);
            formData.append("fileName", JSON.stringify(this.elements['fileNameField'].value));
            sendData(formData);
            location.assign("{{ url_for('XKnowledge.XKMainView') }}");
        });

        document.getElementById("buttonImportFile").addEventListener("click", function (event) {
            if (dialogImportFile.style.display === 'none') {
                dialogCreateFile.style.display = "none";
                dialogImportFile.style.display = "block";
            } else {
                dialogImportFile.style.display = "none";
            }
        });

    </script>

{% endblock %}
