{% extends "xk_base.html" %}

{% block head %}
    <script src="static/echarts.js"></script>
    <script src="static/jquery.js"></script>
    <script>
        function highlight(name) {
            // 高亮节点
            myChart.dispatchAction({
                type: "highlight",
                seriesIndex: 0,
                name: name
            });
        }

        function downplay(name) {
            // 解除节点高亮
            myChart.dispatchAction({
                type: "downplay",
                seriesIndex: 0,
                name: name
            });
        }

        function downplayAll(highlightNodeList) {
            // 解除全部节点的高亮
            for (let i = 0; i < highlightNodeList.length; i++) {
                downplay(highlightNodeList[i]);
            }
        }

        function sendData(formData) {
            // 发送数据到后端
            fetch("{{ url_for("XKnowledge.XKMainView") }}", {
                method: "POST",
                body: formData // 将FormData对象作为请求体发送
            });
        }
    </script>
{% endblock %}


{% block body %}
    <div style="height:100vh;margin:auto 0">
        <button id="buttonSaveData" type="button">保存</button>
        <button id="buttonReloadData" type="button">取消保存</button>
        <button id="buttonCreateNode" type="button">创建节点</button>
        <button id="buttonCreateEdge" type="button">创建边</button>
        <button id="buttonDeleteNode" type="button">删除节点</button>
        <button id="buttonUndo" type="button">撤销</button>
        <button id="buttonRedo" type="button">重做</button>

        <div id="dialogCreateNode" style="display: none;">
            <form id="createNodeFieldForm" method="post">
                <label for="nameField">名称:</label>
                <input type="text" id="nameField"/>
                <label for="describeField">描述:</label>
                <input type="text" id="describeField"/>
                <label for="categoryField">所属类目:</label>
                <input type="text" id="categoryField"/>
                <button type="submit">创建</button>
            </form>
        </div>

        <div id="dialogCreateEdge" style="display: none;">
            <form id="createEdgeFieldForm" method="post">
                <label for="nameField">名称:</label>
                <input type="text" id="nameField"/>
                <label for="describeField">描述:</label>
                <input type="text" id="describeField"/>
                <button type="submit">创建</button>
            </form>
        </div>

        <div id="main" style="width:100%;height:100%;margin:auto auto"></div>
        <script type="text/javascript">
            const myChart = echarts.init(document.getElementById("main"));
            myChart.showLoading(); // 加载等待
            let jsonData = {{ json_data | tojson }};
            if (jsonData) {
                let nodeNames = jsonData.data.map(function (node) {
                    return node.name;
                }) // 记录所有的节点名称，当增加节点的时候判断是否重名
                option = {
                    // 图的标题
                    title: {
                        text: jsonData.title
                    },
                    // 提示框的配置
                    tooltip: {
                        formatter: function (x) {
                            return x.data.des;
                        }
                    },
                    // 工具箱
                    toolbox: {
                        // 显示工具箱
                        show: true,
                        feature: {
                            mark: {
                                show: true
                            },
                            // 还原
                            restore: {
                                show: true
                            },
                            // 保存为图片
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    legend: [{
                        // selectedMode: "single",
                        data: jsonData.categories.map(function (a) {
                            return a.name;
                        })
                    }],
                    series: [{
                        type: "graph", // 类型:关系图
                        layout: "force", //图的布局，类型为力导图
                        //symbolSize: 40, // 调整节点的大小
                        roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 "scale" 或者 "move"。设置成 true 为都开启
                        // edgeSymbol: ["circle", "arrow"],
                        //edgeSymbolSize: [2, 10],
                        //edgeLabel: {
                        //    normal: {
                        //        textStyle: {
                        //            fontSize: 20
                        //        }
                        //    }
                        //},
                        force: {
                            repulsion: 2500,
                            edgeLength: [10, 50]
                        },
                        draggable: true, // 元素是否可以被拖动
                        // 边的风格
                        lineStyle: {
                            normal: {
                                width: 2,
                                color: "#4b565b",
                            }
                        },
                        // 边上显示当前边的名称
                        edgeLabel: {
                            normal: {
                                show: true,
                                formatter: function (x) {
                                    return x.data.name;
                                }
                            }
                        },
                        // 节点上显示当前节点名称
                        label: {
                            normal: {
                                show: true,
                                textStyle: {}
                            }
                        },
                        // 高亮时节点外层增加黑色边缘
                        emphasis: {
                            disable: true,
                            itemStyle: {
                                borderColor: "#000",
                                borderWidth: 2,
                                borderType: "solid"
                            }
                        },
                        // 数据
                        data: jsonData.data,
                        links: jsonData.links,
                        categories: jsonData.categories,
                    }]
                };
                myChart.hideLoading();// 隐藏加载等待
                myChart.setOption(option);

                const dialogCreateNode = document.getElementById("dialogCreateNode");
                const dialogCreateEdge = document.getElementById("dialogCreateEdge");

                let highlightNodeList = []; // 记录旧的高亮节点
                let highlightEdge;

                myChart.on("click", function (event) {
                    console.log(event);
                    if (event.dataType === "node") {
                        const pos = highlightNodeList.indexOf(event.name);
                        if (pos !== -1 && highlightNodeList.length !== 0) {
                            // 当重复点击节点的时候，将节点高亮去掉，并且更新highlightNodeList
                            if (highlightNodeList.length === 1) {
                                downplay(highlightNodeList[0]);
                                highlightNodeList = [];
                            } else {
                                downplay(highlightNodeList[pos]);
                                highlightNodeList = [highlightNodeList[(pos + 1) % 2]];// 取pos对应的另一个节点
                            }
                        } else {
                            if (highlightNodeList.length < 2) {
                                // 点击第一个节点时，高亮点击的那个节点，点击第二个节点时，高亮新点击的节点
                                highlightNodeList[highlightNodeList.length] = event.name;
                                highlight(event.name);
                            } else {
                                // 点击第三个节点时，将第一个节点高亮取消，并把第二个节点放到第一个位置上，为了后面的有向链接做准备
                                downplay(highlightNodeList[0]);
                                highlight(event.name);
                                highlightNodeList[0] = highlightNodeList[1];
                                highlightNodeList[1] = event.name;

                            }
                            console.log(highlightNodeList);
                        }
                        if (highlightNodeList.length === 2 && dialogCreateNode.style.display === "block") {
                            // 当前已经打开了增加节点的输入框，将输入框关闭
                            dialogCreateNode.style.display = "none";
                            alert("增加节点时不能同时选择两个节点");
                        }
                        if (highlightNodeList.length < 2 && dialogCreateEdge.style.display === "block") {
                            // 当前已经打开了增加边的输入框，将输入框关闭
                            dialogCreateEdge.style.display = "none";
                            alert("增加边时要同时选择两个节点");
                        }
                    } else if (event.dataType === "edge") {
                        // todo 点击边的时候做什么操作
                        highlightEdge = event.name;
                        highlight(highlightEdge);
                    }
                });

                myChart.getZr().on("click", function (event) {
                    // 没有 target 意味着鼠标/指针不在任何一个图形元素上，它是从“空白处”触发的。
                    if (!event.target) {
                        console.log(highlightNodeList.length);
                        // 点击在了空白处，解除所有节点的高亮
                        downplayAll(highlightNodeList);
                        highlightNodeList = [];
                        highlightEdge = undefined;
                        if (dialogCreateEdge.style.display === "block") {
                            // 当前已经打开了增加边地输入框，将输入框关闭
                            dialogCreateEdge.style.display = "none";
                            alert("增加边时要同时选择两个节点");
                        }
                    }
                });

                document.getElementById("buttonSaveData").addEventListener("click", function (event) {
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("saveData", 1);
                    sendData(formData);
                });

                document.getElementById("buttonReloadData").addEventListener("click", function (event) {
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("reloadData", 1);
                    sendData(formData);
                    window.location.reload()
                });

                document.getElementById("buttonCreateNode").addEventListener("click", function (event) {
                    if (highlightNodeList.length === 2) {
                        // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                        downplayAll(highlightNodeList);
                        highlightNodeList = [];
                        dialogCreateNode.style.display = "none";
                        alert("增加节点时不能同时选择两个节点");
                    } else {
                        dialogCreateNode.style.display = "block";
                    }
                });

                document.getElementById("createNodeFieldForm").addEventListener("submit", function (event) {
                    // 获取表单内的所有控件
                    // event.preventDefault()
                    dialogCreateNode.style.display = "none"; // 当表单提交时，关闭弹窗
                    if (highlightNodeList.length === 2) {
                        // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                        downplayAll(highlightNodeList);
                        highlightNodeList = [];
                        alert("增加节点时不能同时选择两个节点");
                    } else {
                        // 创建节点的时候先检测所有的节点名称，是否重名
                        if (nodeNames.indexOf(this.elements['nameField'].value) !== -1) {
                            alert("不能创建同名节点，请修改节点名称");
                        } else {
                            // 不重名的情况下发送数据到后端
                            const formData = new FormData();
                            formData.append("highlightNode", JSON.stringify(highlightNodeList));
                            formData.append("createNode", JSON.stringify({
                                name: this.elements['nameField'].value,
                                des: this.elements['describeField'].value,
                                symbolSize: 50,
                                category: this.elements['categoryField'].value
                            }));
                            sendData(formData);
                        }
                    }
                });

                document.getElementById("buttonCreateEdge").addEventListener("click", function (event) {
                    if (highlightNodeList.length === 2) {
                        dialogCreateEdge.style.display = "block";
                    } else {
                        downplayAll(highlightNodeList);
                        highlightNodeList = [];
                        dialogCreateEdge.style.display = "none";
                        alert("增加连接时需要同时选择两个节点");
                    }
                });

                document.getElementById("createEdgeFieldForm").addEventListener("submit", function (event) {
                    // 获取表单内的所有控件
                    // event.preventDefault()
                    dialogCreateEdge.style.display = "none"; // 当表单提交时，关闭弹窗

                    const formData = new FormData();
                    formData.append("highlightNode", JSON.stringify(highlightNodeList));
                    formData.append("createEdge", JSON.stringify({
                        name: this.elements['nameField'].value,
                        des: this.elements['describeField'].value
                    }));
                    sendData(formData);
                });

                document.getElementById("buttonDeleteNode").addEventListener("click", function (event) {
                    downplayAll(highlightNodeList);
                    dialogCreateEdge.style.display = "none";
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("highlightNode", JSON.stringify(highlightNodeList));
                    formData.append("deleteNode", 1);
                    sendData(formData);
                    highlightNodeList = [];
                    window.location.reload()
                });

                document.getElementById("buttonUndo").addEventListener("click", function (event) {
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("undo", 1);
                    sendData(formData);
                    window.location.reload()
                });

                document.getElementById("buttonRedo").addEventListener("click", function (event) {
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("redo", 1);
                    sendData(formData);
                    window.location.reload()
                });
            } else {
                window.location.reload()
            }
        </script>
    </div>
{% endblock %}

